@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professor @ViewData["Professor"]</p>
<p>@ViewData["email"]</p>

<address>
    <strong>More informations: <a href="https:educandoweb.com.br">EducandoWeb.com.br</a></strong>
</address>